<div class="survey-header">
  <h1 class="survey-title">Surveys</h1>
  <%= link_to 'Create New Survey', new_survey_path, class: "btn-primary" %>
</div>

<div class="survey-grid">
  <% @surveys.each do |survey| %>
    <div class="survey-card">
      <h2 class="survey-question"><%= survey.question %></h2>
      <p>Results:</p>
      <p>Yes: <%= survey.yes_percentage %>%</p>
      <p>No: <%= survey.no_percentage %>%</p>
      <p>Total responses: <%= survey.responses.count %></p>
      <%= link_to 'Take Survey', survey_path(survey), class: "link-back" %>
    </div>
  <% end %>
</div>