<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Survey Tool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body-layout">
    <div class="min-h-full">
      <main>
        <div class="container">
          <% if notice %>
            <div class="notice-message">
              <p><%= notice %></p>
            </div>
          <% end %>

          <% if alert %>
            <div class="alert-message">
              <p><%= alert %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
